In [1]:
import numpy as np
import pandas as pd

/Users/spock/neuefische/recommender-system-capstone/.venv/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df = pd.read_csv('data/ml-latest-small/movies.csv')

In [17]:
links = pd.read_csv('data/ml-latest-small/links.csv')

In [12]:
imbd_bascis = pd.read_csv('data/archive_IMDb/title.basics.tsv/title.basics.tsv', sep='\t')

/Users/spock/neuefische/recommender-system-capstone/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
df[df['title'].str.match('Toy Story')]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2355,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy
7355,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX

In [11]:
df[df['title'].str.contains('Toy')]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1492,2017,Babes in Toyland (1961),Children|Fantasy|Musical
1674,2253,Toys (1992),Comedy|Fantasy
2329,3086,Babes in Toyland (1934),Children|Comedy|Fantasy|Musical
2355,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy
3595,4929,"Toy, The (1982)",Comedy
4089,5843,Toy Soldiers (1991),Action|Drama
7355,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX

In [13]:
imbd_bascis['tconst'] = imbd_bascis['tconst'].map(lambda x: x.lstrip('tt'))

In [14]:
imbd_bascis['tconst'] = imbd_bascis['tconst'].map(lambda x: x.lstrip('0'))

In [15]:
imbd_bascis.rename(columns={'tconst': 'imdbId'}, inplace=True)

In [16]:
imbd_bascis['imdbId'] = imbd_bascis['imdbId'].astype(str).astype(int)

In [18]:
df_merge = links.merge(imbd_bascis, how="left", on="imdbId")               # Let's merge movie and rating 
df_merge.head()

,movieId,imdbId,tmdbId,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,1,114709,862.0,movie,Toy Story,Toy Story,0.0,1995,\N,81,"Adventure,Animation,Comedy"
1,2,113497,8844.0,movie,Jumanji,Jumanji,0.0,1995,\N,104,"Adventure,Comedy,Family"
2,3,113228,15602.0,movie,Grumpier Old Men,Grumpier Old Men,0.0,1995,\N,101,"Comedy,Romance"
3,4,114885,31357.0,movie,Waiting to Exhale,Waiting to Exhale,0.0,1995,\N,124,"Comedy,Drama,Romance"
4,5,113041,11862.0,movie,Father of the Bride Part II,Father of the Bride Part II,0.0,1995,\N,106,"Comedy,Family,Romance"

In [19]:
df_small = df.merge(df_merge, how="left", on="movieId")

In [22]:
df_small.shape

(9742, 13)

In [24]:
df_small.tail()

,movieId,title,genres_x,imdbId,tmdbId,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres_y
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,5476944,432131.0,movie,Black Butler: Book of the Atlantic,Kuroshitsuji: Book of the Atlantic,0.0,2017,\N,101,Animation
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,5914996,445030.0,movie,"No Game, No Life: The Movie - Zero",Nôgêmu nôraifu: Zero,0.0,2017,\N,110,"Adventure,Animation,Comedy"
9739,193585,Flint (2017),Drama,6397426,479308.0,tvMovie,Flint,Flint,0.0,2017,\N,86,Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,8391976,483455.0,movie,Bungou Stray Dogs: Dead Apple,Bungou Stray Dogs: Dead Apple,0.0,2018,\N,90,Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,101726,37891.0,movie,Dice Rules,Dice Rules,0.0,1991,\N,88,"Comedy,Documentary"

In [26]:
df_small.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9742 entries, 0 to 9741
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   movieId         9742 non-null   int64
 1   title           9742 non-null   object
 2   genres_x        9742 non-null   object
 3   imdbId          9742 non-null   int64
 4   tmdbId          9734 non-null   float64
 5   titleType       9725 non-null   object
 6   primaryTitle    9725 non-null   object
 7   originalTitle   9725 non-null   object
 8   isAdult         9725 non-null   float64
 9   startYear       9725 non-null   object
 10  endYear         9725 non-null   object
 11  runtimeMinutes  9725 non-null   object
 12  genres_y        9725 non-null   object
dtypes: float64(2), int64(2), object(9)
memory usage: 1.0+ MB