# Collaborative Filtering

#### Some theoretical Background

[Link](https://realpython.com/build-recommendation-engine-collaborative-filtering/)

### User-Based vs Item-Based Collaborative Filtering

The two approaches are mathematically quite similar, but there is a conceptual difference between the two. Here’s how the two compare:

+ **User-based**: For a user U, with a set of similar users determined based on rating vectors consisting of given item ratings, the rating for an item I, which hasn’t been rated, is found by picking out N users from the similarity list who have rated the item I and calculating the rating based on these N ratings.

+ **Item-based**: For an item I, with a set of similar items determined based on rating vectors consisting of received user ratings, the rating by a user U, who hasn’t rated it, is found by picking out N items from the similarity list that have been rated by U and calculating the rating based on these N ratings.

## Import Packages

In [247]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

### Surprise Library

In [248]:
from surprise import Dataset
from surprise import Reader

from surprise import BaselineOnly
from surprise import KNNBasic
from surprise import KNNWithMeans
from surprise import SVD
from surprise import accuracy
from surprise import SlopeOne
from surprise import SVDpp
from surprise import NMF
from surprise import NormalPredictor
from surprise import KNNBaseline
from surprise import KNNWithZScore
from surprise import CoClustering

from surprise.model_selection import cross_validate
from surprise.model_selection import train_test_split
from surprise.model_selection import GridSearchCV

from surprise import accuracy

RSEED = 42

#### Import Data

In [249]:
movies = pd.read_csv('../data/ml-latest-small/movies.csv')
ratings = pd.read_csv('../data/ml-latest-small/ratings.csv')
#links = pd.read_csv('../data/ml-latest-small/links.csv')
#tags = pd.read_csv('../data/ml-latest-small/tags.csv')

In [250]:
ratings['rating'].describe()

count    100836.000000
mean          3.501557
std           1.042529
min           0.500000
25%           3.000000
50%           3.500000
75%           4.000000
max           5.000000
Name: rating, dtype: float64

In [251]:
# total number of ratings per movie
movie_rat_count = ratings.groupby('movieId').count()['rating'].reset_index()
movie_rat_count.head(2)

   movieId  rating
0        1     215
1        2     110

In [252]:
# extract one rating count for a given movie (here movie 2)
num = movie_rat_count[movie_rat_count['movieId'] == 2].reset_index()
num = num.loc[0, 'rating']
num

110

#### Define Reader &
#### Load the data frame into data (here: userId, movieId and rating column)

In [253]:
reader = Reader(rating_scale=(0.5,5))
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

#### Function for Top N Recommendations

In [254]:
# ORIGINAL
# from the surprise documentation
# with the extension of a recommendation dictionary

from collections import defaultdict


def get_top_n(predictions, n=10):
    """Return the top-N recommendation for each user from a set of predictions.

    Args:
        predictions(list of Prediction objects): The list of predictions, as
            returned by the test method of an algorithm.
        n(int): The number of recommendation to output for each user. Default
            is 10.

    Returns:
    A dict where keys are user (raw) ids and values are lists of tuples:
        [(raw item id, rating estimation), ...] of size n.
    """

    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est)) # append number of ratings

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

## Recommendations with SVD (Single Value Decomposition)

In [255]:
# First train an SVD algorithm on the movielens dataset.
#data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
trainset = data.build_full_trainset()

algo = SVD()

algo.fit(trainset)

# Than predict ratings for all pairs (u, i) that are NOT in the training set.
testset = trainset.build_anti_testset()
predictions = algo.test(testset)

top_n = get_top_n(predictions, n=100)

    # Print the recommended items for each user
    # and make a dictionary to store user ID and movie ID
#for uid, user_ratings in top_n.items():
#        print(uid,[iid for (iid, _) in user_ratings]) # prints recommendations for each user

In 'top_n' you get a dictionary for each user:
key: user ID
value: List of tuples (movieId, predicted rating), sorted by predicted rating

In [256]:
# for example
top_n[1][0] # user 1 recommendation 1 (movieId, prediction)

(318, 5)

In [257]:
# if you want to look at the titles of the recommended movies
def get_recomm_for_user(user):
    for i,j in enumerate(top_n[user]):
        movie = movies[movies['movieId']==j[0]].title
        print('{}. Movie: {}'.format(i+1, movie.iloc[0]))

get_recomm_for_user(1)

1. Movie: Shawshank Redemption, The (1994)
2. Movie: Departed, The (2006)
3. Movie: Wallace & Gromit: The Best of Aardman Animation (1996)
4. Movie: In the Name of the Father (1993)
5. Movie: Rear Window (1954)
6. Movie: Casablanca (1942)
7. Movie: Notorious (1946)
8. Movie: Brazil (1985)
9. Movie: Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)
10. Movie: Captain Phillips (2013)
11. Movie: Blade Runner (1982)
12. Movie: One Flew Over the Cuckoo's Nest (1975)
13. Movie: Grand Day Out with Wallace and Gromit, A (1989)
14. Movie: Chinatown (1974)
15. Movie: Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)
16. Movie: Eternal Sunshine of the Spotless Mind (2004)
17. Movie: Spotlight (2015)
18. Movie: To Catch a Thief (1955)
19. Movie: Monty Python's And Now for Something Completely Different (1971)
20. Movie: Touch of Evil (1958)
21. Movie: Great Escape, The (1963)
22. Movie: It's a Wonderful Life (1946)
23. Movie: Streetcar Named Desire, A (1951)
24. Movie: Three Colors: Red (Trois couleurs: Rouge) (1994)
25. Movie: Doctor Zhivago (1965)
26. Movie: Rebecca (1940)
27. Movie: Dogville (2003)
28. Movie: In Bruges (2008)
29. Movie: Kelly's Heroes (1970)
30. Movie: Wallace & Gromit: The Wrong Trousers (1993)
31. Movie: Three Billboards Outside Ebbing, Missouri (2017)
32. Movie: Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)
33. Movie: No Man's Land (2001)
34. Movie: Some Like It Hot (1959)
35. Movie: Boondock Saints, The (2000)
36. Movie: Lawrence of Arabia (1962)
37. Movie: Crash (2004)
38. Movie: Big Short, The (2015)
39. Movie: Paths of Glory (1957)
40. Movie: Dark Knight, The (2008)
41. Movie: Toy Story 3 (2010)
42. Movie: Guess Who's Coming to Dinner (1967)
43. Movie: Amadeus (1984)
44. Movie: Singin' in the Rain (1952)
45. Movie: Glory (1989)
46. Movie: 12 Angry Men (1957)
47. Movie: Grave of the Fireflies (Hotaru no haka) (1988)
48. Movie: Untouchables, The (1987)
49. Movie: Seven Samurai (Shichinin no samurai) (1954)
50. Movie: V for Vendetta (2006)
51. Movie: Wallace & Gromit: A Close Shave (1995)
52. Movie: Spirited Away (Sen to Chihiro no kamikakushi) (2001)
53. Movie: Gattaca (1997)
54. Movie: Boot, Das (Boat, The) (1981)
55. Movie: Godfather: Part II, The (1974)
56. Movie: Social Network, The (2010)
57. Movie: Hustler, The (1961)
58. Movie: Like Water for Chocolate (Como agua para chocolate) (1992)
59. Movie: His Girl Friday (1940)
60. Movie: Walk the Line (2005)
61. Movie: Whiplash (2014)
62. Movie: Philadelphia Story, The (1940)
63. Movie: Unforgiven (1992)
64. Movie: Almost Famous (2000)
65. Movie: Finding Nemo (2003)
66. Movie: Ran (1985)
67. Movie: Sound of Music, The (1965)
68. Movie: Monty Python Live at the Hollywood Bowl (1982)
69. Movie: Aliens (1986)
70. Movie: Lives of Others, The (Das leben der Anderen) (2006)
71. Movie: Femme Nikita, La (Nikita) (1990)
72. Movie: Evil Dead II (Dead by Dawn) (1987)
73. Movie: Graduate, The (1967)
74. Movie: Army of Darkness (1993)
75. Movie: To Kill a Mockingbird (1962)
76. Movie: Sting, The (1973)
77. Movie: Good, the Bad and the Ugly, The (Buono, il brutto, il cattivo, Il) (1966)
78. Movie: There Will Be Blood (2007)
79. Movie: Futurama: Bender's Big Score (2007)
80. Movie: Strangers on a Train (1951)
81. Movie: On the Waterfront (1954)
82. Movie: Apartment, The (1960)
83. Movie: Good Will Hunting (1997)
84. Movie: Harry Potter and the Prisoner of Azkaban (2004)
85. Movie: Up (2009)
86. Movie: Billy Elliot (2000)
87. Movie: Batman: Mask of the Phantasm (1993)
88. Movie: Mulholland Drive (2001)
89. Movie: Godfather, The (1972)
90. Movie: North by Northwest (1959)
91. Movie: This Is Spinal Tap (1984)
92. Movie: Key Largo (1948)
93. Movie: Ghost in the Shell (Kôkaku kidôtai) (1995)
94. Movie: Double Indemnity (1944)
95. Movie: Creature Comforts (1989)
96. Movie: Cinema Paradiso (Nuovo cinema Paradiso) (1989)
97. Movie: Raging Bull (1980)
98. Movie: Lost in Translation (2003)
99. Movie: Pianist, The (2002)
100. Movie: Miracle on 34th Street (1947)

# Just some in depth look at the data:

In [258]:
# get all ratings for a certain user:

user_1 = ratings.query('userId == 1')
user_1.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [259]:
# put all the recommended movies for that user in a list:

recomm_movies = []
for i in top_n[1] :
    recomm_movies.append(i[0])

#recomm_movies

In [260]:
# check if all recommended movies are new to the user:

user_1[user_1['movieId'].isin(recomm_movies)]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

### If the output above shows no rows then every recommended movie is new to the user!

In [261]:
# get the count of ratings for every recommended movie
for i in recomm_movies :
    num = movie_rat_count[movie_rat_count['movieId'] == i].reset_index()
    num = num.loc[0, 'rating']
    #print(i, num) # activate print statement to see output

### You can see how many ratings the recommended movies got in total.

### Below, you can set a threshold (here: 10) to see how many movies have got a number of ratings below or above the cut off:

In [262]:
below = []
above = []

for i in recomm_movies :
    num = movie_rat_count[movie_rat_count['movieId'] == i].reset_index()
    num = num.loc[0, 'rating']
    if num <= 10 :
        below.append((i, num))
    else :
        above.append((i, num))

print('10 or less ratings: ', len(below))
print('More than 10 ratings: ', len(above))

10 or less ratings:  4
More than 10 ratings:  96

# END of RECOMMENDATIONS with SVD